<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Todo List{% endblock %}</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">  <!-- Optional: Link to your CSS file -->
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'tag_list' %}">Tags</a></li>
        </ul>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
